body {
    margin: 0;
    font-family: 'SAS Monospace', sans-serif;
    background: url('bg_test.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.header-container {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background: transparent;  /* Set a background if desired */
}

/* Top row contains the image row and the hamburger menu 
.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* You may add padding/margin here if needed */
}

/* Image row: three images with a fixed gap */
.image-row {
  display: flex;
  align-items: center;
  gap: 150px;  /* Always 150px between images */
}


.image-row img {
  height: 100px;  /* Adjust as needed */
  width: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Hamburger menu styles */
.hamburger {
  cursor: pointer;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Increase z-index if necessary */
  z-index: 9999;
  transition: transform 0.25s ease-in-out;
  font-family: 'SAS Monospace', sans-serif;
}

.hamburger span {
  background: #ffffff;
  height: 3px;
  width: 100%;
  border-radius: 3px;
}

/* Optionally add a hover effect */
.hamburger:hover {
  transform: scale(1.1);
}

/* Title row: centered nav title */
.title-row {
  text-align: center;
  margin-top: 10px;  /* Space between the top row and title */
}



@media (max-width: 600px) {
  /* Arrange the top images vertically on small screens */
  .image-row {
    flex-direction: column;
    gap: 20px;  /* Use a smaller gap on mobile */
    /* Ensure the images are always visible (we’ll handle hiding in JS) */
    
  }

  /* Optionally reduce image height on mobile */
  .image-row img {
    height: 50px;  /* Adjust as needed */
    width: 70px;
    width: auto;
  }
}

.title {
    font-family: 'SAS Monospace', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.title2 {
    font-family: 'SAS Monospace', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.container {
    text-align: center;
   
    margin-bottom: 50px;
    padding: 20px;
    max-width: 100%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.scroll-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: rgba(251, 251, 253, 0.6);
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.cards {
    margin: 80px auto;
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.card {
    font-family: 'SAS Monospace', sans-serif;
    background: #000000;
    display: inline-block;
    margin: 8px;
    max-width: 450px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s ease-in-out;
    width: 450px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}
.card.focus {
    transform: scale(1.1);
    z-index: 10;
}
.card.blur {
    filter: blur(4px);
    opacity: 0.5;
    z-index: 0;
}
.card img {
    max-width: 450px;
    border-radius: 10px;
}
.card .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 50%;
    border-radius: 15px 15px 0 0;
}
.card .card-title {
    backdrop-filter: blur(10px);
    padding: 1px 15px 10px;
    position: relative;
    border-radius: 0 0 15px 15px;
}
.card .card-title button.toggle-info {
    border-radius: 32px;
    height: 32px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
    background: #000000;
    border: none;
    cursor: pointer;
}
.card .card-title button.toggle-info span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: all 0.15s ease-out;
    width: 12px;
}
.card .card-title button.toggle-info span.left {
    right: 14px;
    transform: rotate(45deg);
}
.card .card-title button.toggle-info span.right {
    left: 14px;
    transform: rotate(-45deg);
}
.card.show .card-title button.toggle-info {
    background: rgba(251, 251, 253, 0.6);
}
.card.show .card-title button.toggle-info span {
    top: 15px;
}
.card .card-flap {
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: all 0.3s ease-out;
}
.card.show .card-flap {
    backdrop-filter: blur(10px);
    transform: rotateX(0deg);
}

.opportunities {
    margin: 350px auto;
    margin-bottom: 75px;
    max-width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.opportunities h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


.opportunity {
    display: inline-block;
    flex-direction: column;
    align-items: center; 
    justify-content: start; 
    text-align: center;
    width: 25%;
    margin: 20px;
    vertical-align: top;
}
.opportunities-icon img{
 margin-bottom: 15px;
 max-width: 100px;
 }
.opportunity p {
    font-size: 16px;
    line-height: 1.6;
}

.opportunity-text {
    max-height: 150px; 
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
    margin-bottom: 0; 
    text-align: left;
    
  }
  
  .opportunity-wrapper.expanded .opportunity-text {
    max-height: 1000px;      
  }
  
  
  .read-more {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'SAS Monospace', sans-serif;
  }

.partners-section {
    font-family: 'SAS Monospace', sans-serif;
    margin: 10px;
    max-width: 100%;
    text-align: center;
    color: #ffffff;
    backdrop-filter: blur(10px);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.partners-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.partners-container {
    position: relative;
    overflow: hidden;
    width: 100%; 
    padding: 0 50px;
    box-sizing: border-box;
}

.partners-grid {
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease;
}
.partner-box {
  width: 120px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.partner-box img {
    max-width: 100px;
    margin-bottom: 5px;
    border-radius: 10px;
    justify-content: center;
}
.partner-box:hover {
    transform: scale(1.05);
}

.partner-name {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* limits text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.partners-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

@media (min-width: 1650px) {
    .partners-btn {
      display: none;
    }
  }

  @media (min-width: 1650px) {
    .partners-grid {
        justify-content: center;
    }
  }


.join-us-section {
margin: 50px auto;
text-align: center;
max-width: 800px;
padding: 20px;
border-radius: 15px;

}

.join-us-button {
background: rgba(251, 251, 253, 0.6);
color: #ffffff;
padding: 10px 20px;
font-size: 18px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: transform 0.3s ease;
font-family: 'SAS Monospace', sans-serif;
}

.join-us-button:hover {
transform: scale(1.1);
background-color: rgba(0, 0, 0, 0.6);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.join-us-form-container {
display: none;
margin-top: 20px;
text-align: left;
padding: 20px;
background: rgba(0, 0, 0, 0.8);
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
font-family: 'SAS Monospace', sans-serif;
}

.join-us-form-container.visible {
display: block;
}

label {
display: block;
margin: 10px 0 5px;
color: #ffffff;
}

input {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
box-sizing: border-box;
}

.submit-button {
background: rgba(251, 251, 253, 0.6);
color: #ffffff;
padding: 10px 20px;
font-size: 16px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: transform 0.3s ease;
font-family: 'SAS Monospace', sans-serif;
}

.submit-button:hover {
transform: scale(1.1);
background-color: rgba(0, 0, 0, 0.6);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}




.navbar {
   
  position: fixed;
  top: 10px; /* a little space from the top */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;           /* makes the navbar wide */
  max-width: 1200px;    /* prevents it from being too wide on large screens */
  z-index: 100;
  padding: 10px 20px;
  border-radius: 15px;  /* rounded container */
 
  font-family: 'SAS Monospace', sans-serif;
  overflow: visible;
}

/* Container for content inside navbar */
/*.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;

  
}*/

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar Title */
.nav-title {
  margin: 10px 0;
  font-family: 'SAS Monospace', sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 35 px;
      
  transition: opacity 0.3s ease-in-out;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

/* Hamburger Icon */
.hamburger {
  position: absolute;
  right: 20px;
  margin-top: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 35px;
  height: 30px;
  z-index: 101;
  display: inline-block;
}

.hamburger span {
  background: #ffffff;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 13px;
}

.hamburger span:nth-child(3) {
  top: 26px;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

/* Navigation Menu (Hidden by default) */
.nav-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  right: 20px;
  width: 200px;
  border-radius: 5px 5px 5px 5px;
  backdrop-filter: blur(10px);

}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.nav-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-menu a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'SAS Monospace', sans-serif;
  display: block;
  padding: 10px 15px;
  transition: background 0.3s;
}

.nav-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px 5px 5px 5px;
}


.nav-menu.visible {
  display: block;
}
  
 
  body {
    padding-top: 80px; /* Adjust this value based on your navbar's height */
  }
  @media (max-width: 1075px) {
    /* Reduce title font size and adjust margin */
    .nav-title {
      font-size: 30px;
      margin-right: 50px; /* ensure there’s space for the hamburger */
    }
}
  
@media (max-width: 600px) {
    .container {
      padding-top: 100px; /* Increase padding to avoid overlapping */
    }
  }

  @media (max-width: 455px) {
    .cards {
      /* Optionally change flex direction or alignment */
      flex-direction: column;
      align-items: center;
    }
    
    .card {
      /* Shrink the card width to a percentage of the viewport,
         or set it to 100% with some horizontal padding/margin */
      width: 90%;
      max-width: 90%;
      margin: 10px auto; /* center the card and add vertical spacing */
    }

    .card img {
        max-width: 100%;
        border-radius: 10px;
    }
  }

